@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

html,
body,
a {
  cursor: none;
}

/*独自のマウスカーソルを作成*/
.cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: rgba(255, 251, 0, 0.518);
  z-index: 1000;
  transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
  transform: translate(0, 0);
  pointer-events: none;
}

/*aタグにホバーした時に見た目変化*/
.cursor.cursor--hover {
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  background: rgba(205, 114, 113, 0.5);
}

/*動き確認用ボタン*/
.btn {
  display: inline-block;
  min-width: 300px;
  margin: 20px;
  padding: 20px;
  color: #fff;
  background-color: #000;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}


li{
  list-style: none;
}

img{
  max-width: 100%;
}

header{
  position: fixed;
  width: 100%;
  background-color: rgb(61, 65, 83);
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  top: 0;
}

#wave{
  width:60px;
  height: 60px;
  background-image: url(../images/wave.png);
  background-size: 60px auto;
  background-position: center center;
  background-repeat: repeat-x;
  margin-left: auto;
}

#menu{
  position: fixed;
  top: 100px;
  font-size: 110px;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  left: 20px;
  z-index: 100;
  cursor: pointer;
  color: rgb(112, 118, 201);
}

#content{
  position: relative;
  margin: 100px auto;
  padding: 20px;
  max-width: 1000px;
  font-size: 35px;
  left: 100px;
  text-align: center;
  color: rgb(157, 157, 157);
  font-family: 'Roboto', sans-serif;
}

.set{
  background-color: rgb(0, 0, 0);
  font: 100;
  font-size: 80px;
  color: aquamarine;
  min-height: 0px;
  margin-bottom: 40px;
}

body.one #backimg01,
body.two #backimg02,
body.three #backimg03{
  opacity: 1;
}

#back{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000;
}

.backimg{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s all;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#line{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(to right, rgb(189, 189, 189),rgb(198, 223, 74));
}


.text-fadein span{
  display: inline-block;
  position: relative;
}

.text-fadein span:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #0f0404;
  -webkit-transition: all .9s linear;
  -o-transition: all .9s linear;
  transition: all .9s linear;
}
.text-fadein.active span:before {
  width: 0%;
}

.earth {
  position: relative;
  overflow: hidden;
  width: 85px;
  height: 85px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: -20px 0 3px rgba(0, 0, 0, 0.3) inset;
  margin-left: 1300px;
}

.earth:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-image: url(https://drive.google.com/uc?export=view&id=11chGBx0vAj79X4ph_fUXDQIYdRy9uqBV);
  background-position: 0 0;
  background-size: auto 100%;
  transform: rotate(23.4deg);
  animation: rotation 16s linear infinite;

}


@keyframes rotation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}